body {
  margin: 0;
  padding: 0;
  min-height: 700px;
  border: 1px solid rgb(67, 69, 168);
}

.content {
  padding: 20px;
  border: 1px solid rgb(67, 69, 168);
}

.content h2,
.content .col {
  white-space: nowrap;
  border: 1px solid rgb(67, 69, 168);
}

.row {
  display: flex;
  align-items: center;
  border: 1px solid rgb(67, 69, 168);
}

.col {
  padding: 10px 0;
}

.help-page,
.settings-page {
  cursor: pointer;
}

.help-page:hover,
.settings-page:hover {
  text-decoration: underline;
}

.clock-option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-ckeckbox {
  margin-left: 10px;
}

/**/
.row_new {
  border: 1px solid rgb(67, 69, 168);
}

/* Опциональные стили для кнопки */
.button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
