body
{
  margin: 0;
  padding: 0;
  max-width: 450px;
  
}
.wrapper{
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
}



.navbar{
  max-width: 450px;
  max-height: 128px;
  border: 1px solid rgb(67, 69, 168);
}

.navbar, .container{
  height: inherit;
  display: flex;
  
  align-items: center;

}



.logo{
  border: 1px solid rgb(67, 69, 168);
}

.bar{
  
  border: 1px solid rgb(67, 69, 168);
  
}

.navbar-menu {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  text-align: center;
}

.navbar-menu li {
  display: inline-block;
}

.navbar-menu li a {
  display: inline-block;
}


.content{
  margin-top: 15px ;
  margin-bottom: 15px;
  flex: 1 1 auto;
  border: 1px solid rgb(67, 69, 168);
}

.foo{
 position: relative;
 text-align: center;
 border: 1px solid rgb(67, 69, 168);
}


